registry=https://pkgs.dev.azure.com/tech-delivery-team/QOPS/_packaging/qops-package-feed/npm/registry/ 
always-auth=true
@qops:registry=https://pkgs.dev.azure.com/tech-delivery-team/QOPS/_packaging/qops-package-feed/npm/registry/ 