name: CI - Build and Test

# Trigger on pull requests and pushes to main (trunk-based workflow)
trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '18.x'

stages:
  - stage: Build
    displayName: 'Build and Test'
    jobs:
      - job: BuildTest
        displayName: 'Typecheck, Build, and Test'
        steps:
          - task: NodeTool@0
            displayName: 'Use Node.js $(nodeVersion)'
            inputs:
              versionSpec: '$(nodeVersion)'

          - task: Npm@1
            displayName: 'Install dependencies'
            inputs:
              command: 'ci'
              workingDir: '$(Build.SourcesDirectory)'

          - task: Npm@1
            displayName: 'Run type checking'
            inputs:
              command: 'custom'
              customCommand: 'run typecheck'
              workingDir: '$(Build.SourcesDirectory)'

          - task: Npm@1
            displayName: 'Build TypeScript'
            inputs:
              command: 'custom'
              customCommand: 'run build'
              workingDir: '$(Build.SourcesDirectory)'

          - task: Npm@1
            displayName: 'Run tests with coverage'
            inputs:
              command: 'custom'
              customCommand: 'run test:coverage'
              workingDir: '$(Build.SourcesDirectory)'

          - task: PublishTestResults@2
            displayName: 'Publish test results'
            condition: succeededOrFailed()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/junit.xml'
              failTaskOnFailedTests: true
              testRunTitle: 'Unit Tests'

          - task: PublishCodeCoverageResults@2
            displayName: 'Publish code coverage'
            condition: succeededOrFailed()
            inputs:
              codeCoverageTool: 'Cobertura'
              summaryFileLocation: '$(Build.SourcesDirectory)/coverage/cobertura-coverage.xml'
              reportDirectory: '$(Build.SourcesDirectory)/coverage'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish build artifacts'
            condition: succeeded()
            inputs:
              pathToPublish: '$(Build.SourcesDirectory)/dist'
              artifactName: 'dist'
              publishLocation: 'Container'
